body{
margin:0;
padding:0;
direction:ltr;
font-family:"Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
font-weight:100;
text-transform:uppercase;
border:none;
font-size:12px;
line-height:24px;
overflow-wrap:break-word;
height:100%;
color:#9a9a9a;
min-height:100%;
box-shadow:0 0 0 #000;
background-color:#ececec;
}
a{color:rgb(130, 130, 130);text-decoration:none;cursor:pointer;text-shadow:0 0 1px #fff;}
ul{list-style:none;}
div, a, form, textarea, input, button, img, p, table{outline:none;/*margin:0px;*/}
textarea{resize:none;}
td{cursor:pointer;}
form{margin-bottom:0;}
input[type=text]::-ms-clear{display:none;width:0;height:0;}
input[type=text]::-ms-reveal{display:none;width:0;height:0;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration{display:none;}
table td{color:#848484;text-align:center;}
ul.muz{-webkit-padding-start:0px;-padding-start:0px;}
/*
@media screen and (min-width:768px){#gkHeader,#header,.top_rf,#form_serch,#se_pol{width:760px !important;}}
@media (min-width:992px){#gkHeader,#header{width:970px;}}
@media (min-width:1200px){#gkHeader,#header{width:1240px;}}
*/

/* Index */

#gkHeader{
padding:0;
max-width:1240px;
width:100%;
margin:0 auto;
box-shadow:0 0 1px #9e9e9e;
border-top:6px solid #000;
position:relative;
height:360px;
}
#header{
padding:0;
max-width:1240px;
width:100%;
margin:0 auto;
box-shadow:0 0 1px #9e9e9e;
position:relative;
font-size:11px;
line-height:18px;
}
#se_pol{
font-size:18px;
background:#f2f2f2;
padding:0 16px;
height:46px;
width:780px;
border:#dedede solid 1px;
}
#se_but{
margin-left:-5px;
border:0;
padding:0;
background:url(/content/sys/search.png) 0 0 no-repeat;
width:20px;
height:20px;
right:25px;
top:5px;
color:#ffffff;
display:inline-block;
position:relative;
cursor:pointer;
background-size:contain;
}
#page_header{
background-color:#fff;
padding:0;
white-space:nowrap;
text-align:left;
height:40px;
z-index:200;
box-shadow:0 0 0px #000;
max-width:1240px;
width:100%;
margin:0 auto;
font-size:11px;
}
#se_pol2{
font-size:14px;
background:#f2f2f2;
padding:0 16px;
height:35px;
width:550px;
border:#dedede solid 1px;
}
#page_header a.ss{text-decoration:none;font-size:15px;}
#reg_o, #login_o,#ava_chag,#afo_chag,#ass{display:none;}
#form_serch{width:800px;margin:auto;padding-top:20px;}
#serch_fr2{padding:0;display:inline-block;margin-top:2px;}
#bit_podtul{width:150px;margin:auto;padding-bottom:50px;}
#pages_bottom{max-width:1240px;position:relative;margin:0 auto;font-size:11px;}
#pages_bottom div{margin:15px;max-width:500px;color:#585858;}
#porta_s{width:860px;max-width:860px;margin-bottom:100px;}
#osr_os{width:680px;}
#li_po{width:40px;height:40px;border:#fff solid 2px;border-radius:30px;}
#imain{width:90px;height:90px;border-radius:90px;}

.mf_t img{width:100%;height:100%;}
.mf_t{
cursor:pointer;
width:40px;
color:#ffffff;
padding:5px;
display:inline-block;
margin:5px;
border-radius:3px;
cursor:pointer;
box-sizing:border-box;
text-align:center;
height:40px;
}
.c_mod{color:#444;font-size:14px;position:relative;}
.mf_t:hover{z-index:1;transform:scale(1.2);}
._r{background-color:rgb(202 28 28);}/*red*/
._b{background-color:rgb(44 115 229);}/*blue*/
._s{background-color:rgb(207 129 21);}/*orange*/
._l{background-color:rgb(55 202 28);}/*green*/
._k{background-color:rgb(121 85 72);}/*koffe*/
._q{background-color:rgb(68 68 68);}/*serii*/
._w{background-color:rgb(219 184 11);}/*yellow*/
._x{background-color:rgb(158 11 219);}/*purple*/
._flx{flex-direction:row;justify-content:space-between;align-items:center;flex-wrap:nowrap;align-content:center;display:flex;}

.top_rd{
width:360px;
margin:auto;
font-size:14px;
color:#4c4c4c;
text-align:center;
}
.top_md{
width:400px;
height:20px;
margin:auto;
font-size:18px;
padding:20px;
color:#fff;
text-align:center;
}
.forten{
padding:13px 20px;
display:inline-block;
position:relative;
margin:0;
border:#e5e5e5 solid 1px;
border-radius:3px;
background-color:#000;
cursor:pointer;
color:#fff;
font-size:14px;
line-height:20px;
}
/*
.mf_t{
width:150px;
color:#ffffff;
padding:5px 10px;
display:inline-block;
margin:0;
border:#484848 solid 1px;
border-radius:3px;
background-color:#F497D9;
cursor:pointer;
box-sizing:border-box;
text-align:center;
}*/
.mf_t2{
width:150px;
color:#ffffff;
padding:5px 10px;
display:inline-block;
margin:2px 0px;
border:#484848 solid 1px;
border-radius:3px;
background-color:#000;
cursor:pointer;
box-sizing:border-box;
text-align:center;
}
.tit_he::before{
content:"";
display:inline-block;
width:70px;
height:40px;
background:url(/content/sys/wcloud1.png) no-repeat;
background-size:60px 40px;
}
.keyki{
display:block;
padding:5px 0;
width:104px;
height:35px;
box-sizing:border-box;
text-align:center;	
color:#fff;
font-weight:800;
background-color:#000;
}
._kik_{
color:#e6e6e6;
font-size:20px;
font-family:Arial;
position:relative;
top:90px;
text-shadow:0 0 1px #000;
background-color:#000000;
padding:5px;
}
.spa_gm{display:block;padding:10px 0;width:104px;text-align:center;color:#000;font-weight:800;}
.trafar{width:1240px;margin:0 auto;padding:0;display:flex;height:40px;}
._mji_{display:inline-block;vertical-align:top;}
.rih{float:right;margin:10px;margin-right:20px;}
.lef{float:left;margin:10px;margin-left:20px;}
.mess{color:#ececec;text-align:center;width:100%;clear:both;overflow:hidden;}
.h_upbl, .h_midbl{height:100px;}
._t{min-height:360px;background-color:#fbfbfb;} 
._g{min-height:300px;background-color:#fbfbfb;}
._o{min-height:360px;background-color:#484848;}
.s_st2, .s_st1{display:inline-block;}
.top_rf{width:1180px;height:500px;margin:auto;}
.krug_g3{float:left;margin:8px;height:250px;}
.krug_1{width:180px;height:180px;}
.krug_im{width:100%;height:100%;}
.dec_fg a{color:#F497D9;}
.dec_b{color:#636363;font-weight:700;}
.dec_w{color:#fff;font-weight:700;}
.deys span{font-size:30px;}
.podol_n{text-decoration:none;}
.mr_t{display:inline-block;padding:5px 0px;width:24px;height:34px;}
.ml_t2{display:inline-block;padding:5px 0px;width:54px;height:34px;color:#fff;}
.ml_t{display:block;padding:10px 0;width:54px;height:40px;box-sizing:border-box;text-align:center;color:#000;cursor:pointer;}
.ui_av{width:200px;height:200px;box-shadow:0 0 3px #000;border-radius:150px;}

/* ======================= Profile ============================== */

#lim_rto{
width:35px;
height:35px;
float:left;
margin:3px;
border-radius:35px;
box-shadow:0 0 2px #f89dde;
}
#pod_pl, #pod_pn{
display:none;
width:150px;
height:190px;
box-shadow:0 0 1px #484848;
background-color:#fff;
position:absolute;
/*margin-left:-45px;*/
z-index:200;
margin-top:4px;
}
#pod_pl:after,#pod_pn:after{
content:'';
position:absolute;
background:#fff;
left:69px;
top:-5px;
width:12px;
height:12px;
z-index:-1;
transform:rotate(45deg);
}
#pod_pl:before,#pod_pn:before{
z-index:1;
box-shadow:none;
content:'';
position:absolute;
background:#fff;
left:69px;
top:-7px;
width:12px;
height:12px;
transform:rotate(45deg);
border-top:1px solid #C8C8C8;
border-left:1px solid #C8C8C8;
}
#in_kks{
width:140px;
margin:auto;
padding-top:1px;
text-align:center;
font-size:12px;
font-weight:100;
text-transform:uppercase;
}
#karma_bod{
text-decoration:none;
font-size:8pt;
color:#FFF;
font-weight:700;
outline:none;
cursor:pointer;
content:'';
border:0;
background-color:#000000;
padding:5px 15px;
border-radius:3px;
}
#fol_by{
width:60px;
color:#ffffff;
padding:5px 10px;
display:inline-block;
position:relative;
margin:0;
border:#484848 solid 1px;
border-radius:3px;
background-color:#000;
cursor:pointer;
font-size:11px;
white-space:nowrap;
text-align:center;
vertical-align:top;
box-sizing:border-box;
}
#fol_vae,#fol_vii,#fol_nn{
width:60px;
color:#000;
padding:5px 10px;
display:inline-block;
position:relative;
margin:0;
border:#9a9a9a solid 1px;
border-radius:3px;
background-color:#fff;
cursor:pointer;
font-size:11px;
white-space:nowrap;
text-align:center;
vertical-align:top;
box-sizing:border-box;
}
/*#ava_chag div{font-size:14px;right:25px;position:absolute;}*//* мешает кропу аватара*/
/*#afo_chag div{font-size:14px;right:25px;position:absolute;}*//*мешает корректной отображе заливке фона*/
#pred_close{font-size:13px;color:#969696;}
#auth_foln:hover .prt_men{display:block;}
#in_lls{width:90px;margin:auto;padding-top:15px;}
#fan_imik{width:10px;height:10px;border-radius:15px;position:relative;left:-4px;top:-12px;}
#ty_po{width:50px;height :50px;border:#fff solid 2px;border-radius:5px;}
#meni_ffgh{font-size:12px;font-weight:100;}
#meni_ffgh span, .do_retrack{margin-left:3px;}
#up_pod{margin-top:10px;float:right;}
#dapit{position:absolute;margin:0px;top:0px;padding:0px;}
#ss_rb{width:450px;height:450px;margin:auto;}
#ss_rt{width:800px;height:202px;margin:auto;position:relative;}
#pre_label_t8 div{position:absolute;width:800px;height:202px;border:1px solid;}
#u_ufog{border-radius:0px;background-image:url();background-position-x:0px; background-position-y:-137px; background-repeat:no-repeat; width:800px;height:202px;background-size:cover;}

._lil_{
color:#e6e6e6;
font-size:20px;
font-family:Arial;
position:relative;
top:60px;
text-shadow:0 0 1px #000;
background-color:#000000;
padding:5px;
}
.tr-non-op{
display:block;
list-style:none;
outline:none;
width:111px;
min-height:auto;
position:relative;
padding:0;
margin:0px;
background-color:#fff;
text-align:left;
padding-left:9px;
color:#c7cccc;
box-shadow:0 0 1px;
}
.bggs:before{
content:"";
display:inline-block;
width:40px;
height:30px;
background:url(/content/sys/ls.png) no-repeat;
background-size:30px 25px;
margin-top:10px;
}
.prt_men{
display:none;
list-style:none;
outline:none;
width:105px;
min-height:auto;
position:absolute;
top:28px;
padding:0;
margin-left:5px;
background-color:#fff;
text-align:left;
padding-left:9px;
color:#c7cccc;
z-index:99;
box-shadow:0 0 1px #cecece;
}
.kjt_men{
display:none;
outline:none;
width:190px;
min-height:auto;
position:absolute;
top:40px;
padding:0;
background-color:#fff;
text-align:left;
padding:3px;
color:#c7cccc;
z-index:99;
box-shadow:0 0 1px #cecece;
}
.tr-optis{
display:none;
list-style:none;
outline:none;
width:111px;
min-height:auto;
position:absolute;
padding:0;
margin:0px;
background-color:#fff;
text-align:left;
padding-left:9px;
color:#c7cccc;
z-index:99;
box-shadow:0 0 1px;
}
.ambrel div{
display:inline-block;
vertical-align:top;
margin-left:3px;
color:#fff;
font-weight:600;
font-size:9px;
}
.ambrel{position:absolute;
padding:2px 2px;
height:15px;
background-color:#f497d9;
border-radius:1px;
width:70px;
box-shadow:0 0 2px #8a8a8a;
}
.men_fgn_toi li{
display:list-item;
clear:none !important ;
list-style:none;
font-weight:bold;
height:80px;
line-height:80px;
text-transform:uppercase;
width:24px;
}
.men_men_toy li{
margin-left:10px;
clear:none !important ;
display:inline-block;
font-weight:bold;
height:80px;
line-height:80px;
text-transform:uppercase;
width:24px;
margin-left:-20px;
}
.med_i_for,.med_i_iin{
cursor:auto;
margin:15px;
min-height:90px;
width:314px;
color:#848484;
text-transform:lowercase;
}

.men_men_toi{
list-style:none;
display:flex;
justify-content:flex-start;
padding-left:20px;
}
.men_men_toi li{
clear:none !important ;
display:inline-block;
font-weight:bold;
height:44px;
text-transform:uppercase;
width:44px;
margin-left:-20px;
}
.mess5_as{
width:800px;
background-color:#fff;
margin:auto;
height :290px;
padding:25px;
margin-top:50px;
box-shadow:0 0 1px #9c9c9c;
background-color:#fff;
}
.mess4_as{
width:450px;
left:391px;
background-color:#fff;
margin:auto;
height:520px;/*auto;*/
padding:25px;
margin-top:30px;
box-shadow:0 0 1px #9c9c9c;
}
.sai_mu{background-size:cover !important;height:300px;background-repeat:no-repeat !important;}
._prof_d img, ._proj_d img{width:100%;height:100%;box-shadow:0 0 3px #000;border-radius:150px;}
._proj_d{width:135px;height:135px;margin:20px;margin-top:41px;}
._prof_d{width:200px;height:200px;margin:30px;margin-top:60px;}
._prof_f{margin:30px;margin-top:50px;}
.ev_ie{font-size:14px;font-weight:100;}
.muy_io{color:#848484;font-size:13px;border-bottom:1px solid #ececec;width:1180px;margin:0 auto;text-transform:initial;padding-top:5px;}
.lef_agh a{margin:3px;}
.lef_agh{width :600px;padding-top:8px;}
.rig_agh{width:230px;float:right;height:30px;}
.cpcv{color:#f497d9;border-bottom:1px solid #f497d9;}
.ui_pr_tr{position:relative;min-height:400px;width:1200px;margin:auto;}
.kap_pp{width:860px;}
.kas_pp{width:330px;border-left:1px solid #ececec;}
.kas_pp div table{margin:auto;}
.krug_g2{margin:8px;min-height:150px;}
.krug_fd{padding:10px;display:inline-block;}
.track_lab_l{width:120px;height:120px;}
.kijo{margin-top:0;}
.fiu_gh{position:relative;float:right;width:200px;margin-top:50px;height:20px;}
.uyi_poin{display:none;background-color:#000000;padding:5px;text-align:center;margin:4px;color:#ffffff;}
.fiu_gh:hover .uyi_poin{cursor:pointer;display:block;}
.bggs:hover .kjt_men{display:block;}
.ipi_s img{height:25px;width:25px;position:relative;padding:4px;float:left;top:6px;}
.tr-dopa-pti:hover .tr-optis{display:block;}
.tr-non-op li a, .tr-optis li a{line-height:28px;}
.a_ddpl img, .a_eepl img, .a_fvpl img, .a_dlpl img{height:20px;width:20px;position:relative;left:-10px;padding:4px;float:left;}
.the-artist{color:#484848;font-size:11px;}
.ambrel img{width:15px;height:15px;}
.med_i_xx table{margin:auto;width:280px;}
.brodo1{border-right:1px solid #d8d8d8;}
.de_li{font-size:10px;margin:auto;line-height:0.9;padding:5px 9px 3px;}
.toi_de{font-size:21px;padding:5px 9px 3px;font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;line-height:0.8;}
.like_li{border-bottom:1px solid #ececec;}
.men_fgn_toi{list-style:none;justify-content:flex-start;padding-left:0px;}
.ttop{max-width:220px;}
.oiu_ji{line-height:1;margin-top:12px;text-transform:capitalize;}
.cagi{width:12px;}.fagi{width:16px;}.sagi{width:25px;}.sagio{width:28px;}
.men_men_toi li:hover #pod_pl{display:block;}
.tem-u:hover #pod_pn{display:block;}
.prt_men li{margin:3px;}
.prt_men li a{line-height:35px;}
.ipi_t img{height:25px;width:25px;position:relative;left:-10px;padding:4px;float:left;}
._kji_{display:table-cell;vertical-align:top;}
.sagd{width:13px;}
.oioi_many{background-image:url('/content/sys/tracks.png');}
.oioi_toto{background-image:url('/content/sys/playlists.png');}
.oioi_didi{background-image:url('/content/sys/likes.png');}
.oioi_susu{background-image:url('/content/sys/following.png');}
.oioi_vede{background-image:url('/content/sys/comments.png');}
.oioi_vava{background-image:url('/content/sys/achievements.png');}
.t0_zelist{margin-top:90px;background-size:240px 167px;height:167px;background-repeat:no-repeat;background-position:50% 50%;width:860px;max-width:860px;}
.dlin_ilse{width:700px;}
.t1_menderl{width:300px;margin:auto;text-align:center;color:#848484;text-transform:none;}
.men_men_toi p{font-size:12px;color:#484848;}
.men_men_toi p span{color:#000;font-weight:800;}
.krug_4{width:100px;height:100px;display:inline-block;text-align:center;}
.pprt1{float:left;}
.-ii{line-height:15px;}
.-pratel2{display:none;}
.oim_ji{line-height:1;margin-top:4px;text-transform:capitalize;}
.oim_ji a{color:#000;font-weight:600;}
.pan-tch a{font-size:9pt;}

/* ================== FORMS LOGIN, REGISTRATION, REPORT ======================= */
.formatiko{
background-color:rgba(255, 255, 255, 0.9);
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
overflow:hidden;
box-sizing:border-box;
z-index:2000;
}
.clo_clo{
background:url(/content/sys/close.svg);
background-size:contain;
position:absolute;
top:12px;
right:20px;
width:20px;
height:20px;
text-indent:20px;
border:0;
overflow:hidden;
}
.mess4{
width:370px;
background-color:#fff;
margin:auto;
height:400px;
padding:25px;
margin-top:50px;
box-shadow:0 0 1px #9c9c9c;
}
.authp_f{
font-size:18pt;
color:#000;
text-transform:initial;
width:370px;
text-align:center;
margin:auto;
margin-top:40px;
}
.pole2{
width:100%;
height:39px;
font-size:12pt;
text-indent:10px;
border-radius:5px;
border:#ccc solid 1px;
background-color:#fff;
}
.button_blue4 button{
font-size:16px;
width:100%;
height:40px;
color:#ffffff;
padding:5px 10px;
display:inline-block;
position:relative;
margin:0;
border:#484848 solid 1px;
border-radius:3px;
background-color:#000;
cursor:pointer;
white-space:nowrap;
text-align:center;
vertical-align:baseline;
box-sizing:border-box;
}
.messl{
width:400px;
background-color:#fff;
margin:auto;
height:274px;
padding:25px;
margin-top:50px;
box-shadow:0 0 1px #9c9c9c;
}
.pre_but_is{
padding:13px 23px;
height:36px;
display:inline-block;
position:relative;
border:#484848 solid 1px;
border-radius:3px;
background-color:#000;
cursor:pointer;
color:#fff;
float:right;
margin-top:5px;
font-size:14px;
line-height:0.9px;
white-space:nowrap;
font-weight:100;
text-align:center;
vertical-align:baseline;
box-sizing:border-box;
}
.re_tere{width:100%;height:150px;margin-top:10px;}
.button_blue4{margin-top:10px;}
.button_blue4 {margin-top:10px;}
.pole2:active, .pole2:focus{background-color:#fff;}
.rreForm{margin-top:140px;}
.regForm2{margin-top:180px;}
.lex_c{font-size:14px;right:25px;position:absolute;}

/* ================== TRACK PAGE =========================== */
#fol_knm{
color:#ffffff;
display:inline-block;
position:relative;
font-size:11px;
white-space:nowrap;
text-align:center;
vertical-align:baseline;
box-sizing:border-box;
width:100%;
}
#fol_bb{
display:inline-block;
cursor:pointer;
padding:5px 10px;
border:#b9b9b9 solid 1px;
border-radius:3px;
background-color:rgba(255, 255, 255, 0.97);
color:#000;
}
#marma_bod{
text-decoration:none;
font-size:8pt;
color:#000;
font-weight:700;
outline:none;
cursor:pointer;
border:0;
padding-left:5px;
}
#chis_l{padding:6px;margin-top:-4px;}
#rp_plcom{width:620px;position:relative;padding:5px;background-color:#ddd;}
#kalma_bo{font-size:10px;text-transform:none;}

.ss_ui_x{
font-size:12px;
color:#9a9a9a;
text-transform:capitalize;
font-family:"Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
font-weight:100;
line-height:24px;
}
.ss_ui_t{
font-size:10px;
text-transform:capitalize;
color:#929292;
font-family:"Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
text-align:center;
/*margin-bottom:10px;/*Убрать бы это?*/
}
.pod_se{
min-width:20px;
height:20px;
border:solid 1px;
border-radius:30px;
text-align:center;
background-color:#848484;
color:#fff;
margin-left:-10px;
margin-top:10px;
}
.f_opa{
width:550px;
height:30px;
border-radius:3px;
border:#eee solid 2px;
text-indent:10px;
}
.rp_otm{
width:30px;
height:30px;
border-radius:3px;
border:#eee solid 2px;
cursor:pointer;
}
.doto{margin-top:10px;}
.dd_comin{width:796px;height:40px;border-radius:3px;border:#eee solid 2px;text-indent:10px;}
.up_pan{width:200px;height:27px;text-align:right;color:#484848;float:right;}
.dd_avus{height:40px;width:40px;border-radius:3px;}
.d_ui_pn{margin-top:10px;width:60px;margin:auto;}
.mikao{border-bottom:1px solid #ececec;color:#522d2d;font-weight:700;}
.ss_ui_x ul{padding:0;}
.ss_ui_x ul li span{color:#484848;}
.rp_block0{width:330px;min-height:360px;}
.m4d{border-bottom:1px solid #ECECEC;padding-top:10px;padding-bottom:10px;margin-left:10px;margin-right:10px;}
.trf_log{text-transform:none;font-size:13px;}
.t0_zet{margin-top:90px;width:700px;}
.t1_zelist{background-size:240px 167px;height:170px;background-repeat:no-repeat;background-position:50% 50%;}
.pr_ava{width:140px;height:120px;margin:auto;margin-top:25px;}
.pr_ava img{border-radius:150px;box-shadow:0 0 3px #000;width:120px;height:120px;margin-left:10px;}
.pod_av0{text-align:center;margin-top:5px;margin-bottom:10px;}
.pod_av0 a{color:#484848;}
.wers_f::before{background-size:16px 16px;background-image:url('/content/sys/pep.svg');}
.tres_f::before{background-size:16px 16px;background-image:url('/content/sys/tracks.svg');}
.d-ply{width:25px;height:25px;position:relative;}
.d-ply img{width:25px;height:25px;}
.nd-dat{min-width:25px;max-width:40px;}
.msg{padding-right:0.2px;padding-left:0;margin:5px;background-color:#fbfbfb;}
.msg2{min-height:70px;background-color:#fbfbfb;margin:5px;}
.bo_img{height:40px;width:40px;}
.b0_img{border-radius:30px;width:100%;height:100%;}
.bo_lo{width:670px;}
.bo_jo{width:610px;}
.bo_ms{color:#929292;text-transform:none;margin-left:5px;}
.bo_ms a{color:#F497D9;}
.bo_bob{border-top:1px solid #ececec;margin:5px;}
.qu_pod{text-align:right;width:710px;}
.re_in_rei{color:#484848;font-weight:700;cursor:pointer;}
.bo_comcom{margin-left:50px;max-width:670px;}
.bo_dop{font-size:12px;line-height:20px;display:none;}
.navat{width:30px;height:30px;border-radius:3px;}
.tr_dopin{position:absolute;width:800px;left:30px;top:30px;}/*Это место зависит от кривости плеера*/
.tr_top{width:100px;}
.tr_pop{width:690px;}
.tr_exp{float:right;}
.pl_gob{background-image:url(/content/sys/playlist-cover.png);width:65px;height:65px;background-repeat:no-repeat;}
.pl_imi{padding:4px;}

/* ============= SEARCH ============= */
#ptpt:hover{background-color:#efefef;}
#nad_tit{position:absolute;bottom:0px;}
#tr_nmfd{width:40px;font-size:16px;align-self:center;color:rgb(130, 130, 130);text-decoration:none;cursor:pointer;text-shadow:0 0 1px #fff;margin-left:-10px;}
#tr_lfd{width:60px;height:60px;}
#tr_nfd{width:500px;margin-left:20px;}

.obve_nx{width:799px;}
.ser_hed{height:150px;border-bottom:1px solid #ececec;position:relative;}
.hed_ag{padding-top:60px;position:relative;color:#848484;}
.sercer{position:relative;min-height:540px;width:1120px;margin:auto;}
.fx_gr{width:310px;border-left:1px solid #ececec;min-height:540px;}
.med_i_xx{font-size:14px;color:#c1c1c1;margin-top:100px;}

/* ======== PM ==================== */
#tan_imik{
width:10px;
height:10px;
box-shadow:0 0 3px #f395d8;
border-radius:15px;
background-color:#f497d9;
position:relative;
top:-14px;
}
#gigos{font-size:10pt;height:30px;border-bottom:1px solid #ccc;margin-bottom:10px;}
#tect_ms{margin-bottom:15px;color:#757575;}
#mayui{color:#757575;font-size:0.95em;text-transform:none;text-indent:5px;}
#sayui{color:#b9b9b9;text-transform:none;text-indent:5px;}
#mess_pe{border:2px solid #dedede;height:90px;width:700px;overflow:hidden;resize:none;background:rgba(255, 255, 255, 0.29);}

.z_Mertia{
outline:none;
cursor:pointer;
border:0px;
padding:5px 10px;
color:#fff;
background-color:#000;
box-shadow:0 0 1px #ccc;
margin-top:5px;
}
.messxz{
width:700px;
background-color:#fff;
margin:auto;
height:500px;
padding:25px;
margin-top:50px;
box-shadow:0 0 1px #9c9c9c;
font-size:11px;
color:#7d7d7d;
}
.ls_in_mes{
width:420px;
height:50px;
vertical-align:top;
padding:5px 10px;
font-size:0.9em;
box-shadow:0 0 1px #ccc;
}

.mrr_ak{width:700px;
background-color:#fff;
padding:10px;
border-left:1px solid #ececec;
border-right:1px solid #ececec;
}
.kxkc{width:50px;}
.lxkc{width:530px;}
.rxkc{width:640px;text-align:right;}
.poid_mr{overflow-x:hidden;overflow-y:auto;max-height:700px;min-height:500px;}
.jikj_dfo{width:130px;margin:auto;top:-150px;}
.mrr_at{width:260px;}
._pm{min-height:600px;background-color:#fbfbfb;}
.ls_pn_alm{min-height:48px;width:190px;border-bottom:1px solid #F2F2F2;}
.ls_pn_fm{display:inline-block;border-radius:3px;}
.ls_pn_fm p{font-size:11px;margin-left:15px;text-transform:none;color:#969696;}
.ls_pn_ob{border-top:1px solid #cecece;}
.ls_pn_ot{color:#000;margin-left:60px;}
.ls_pn_av{width:30px;height:30px;border-radius:45px;border:2px solid #9c9c9c;margin:5px;}
.ls_pn_av img{width:100%;height:100%;border-radius:45px;}
.ls_in_mek{width:120px;vertical-align:top;display:inline-block;font-size:0.8em;}
.ls_in_mek span.ls_pn_tx{color:#8e8e8e;font-size:10px;text-transform:none;}
.ls_pn_lg{color:#000;}
.ls_in_che{}
.aco_leg{font-size:12pt;margin-bottom:5px;}
.ls_in_avat{width:250px;height:60px;box-shadow:0 0 1px;}
.ls_in_im{width:45px;height:45px;border-radius:45px;border:2px solid #9c9c9c;margin:5px;}
.ls_in_im img{width:100%;height:100%;border-radius:45px;}
.ls_in_atar a{font-size:10pt;}
.ls_in_atar{width:180px;margin-top:20px;}
.ls_in_dat{font-size:10px;color:#cccccc;}

/* ================ EDIT TRACK ============= */
.aco_parl_p{
width:408px;
padding:5px;
border-radius:3px;
border:1px solid #ccc;
margin-bottom:10px;
}
._intob{
width:300px;
padding:5px;
border-radius:3px;
border:1px solid #ccc;
margin-bottom:20px;
}
.aco_parl_h, .aco_pars_h{
width:100px;
padding:5px;
border-radius:3px;
border:1px solid #ccc;
}
.aco_aiit_fn{width:230px;height:230px;}
.aco_aiit_fn img{width:100%;height:100%;}
.aco_ins_fn{padding-left:10px;}

/* =========== PLAYLISTS ================ */
#se_put{
text-transform:uppercase;
color:#4a4a4a;
padding:19px 20px;
width:100%;
position:relative;
margin:0;
border:#e5e5e5 solid 1px;
border-radius:3px;
background-color:#fff;
cursor:pointer;
line-height:1px;
white-space:nowrap;
font-weight:100;
text-align:center;
box-sizing:border-box;
}
#pl-tol-del{margin-left:20px;}

.plo_plo{
background:url(/content/sys/close.svg);
background-size:contain;
position:absolute;
right:10px;
top:12px;
width:15px;
height:15px;
text-indent:20px;
border:0;
overflow:hidden;
}
.pl_in_sp{width:250px;height:450px;box-shadow:0 0 1px #888888;border-radius:1px;}
.pl_in_mor{width:450px;height:450px;margin-top:1px;box-shadow:0 0 1px #888888;}
.pl_im_sp{width:250px;height:410px;overflow-y:auto;overflow-x:hidden;}
.pl_in_di{width:250px;height:auto;border:1px solid #ececec;border-radius:1px;}
.add-pl-item{padding:8px 10px;background-color:#fff;color:#484848;position:relative;cursor:pointer;box-shadow:0 0 2px #a0a0a0;border-radius:1px;}
.pl-item{border:1px solid #eee;padding:10px;background-color:#fff;color:#484848;position:relative;cursor:pointer;}
.pl-item-thumb-con{width:25px;height:25px;float:left;margin-right:10px;}
.pl-item-thumb{width:100%;height:100%;background-size:cover;background-position:center center;}
.pl-podv{display:none;position:absolute;width:450px;bottom:0px;height:40px;background-color:rgba(0, 0, 0, 0.56);text-align:center;line-height:3.5;color:#fff;cursor:pointer;}
.n-ply{width:22px;height:22px;position:relative;}
.n-ply img{width:12px;height:12px;margin-top:5px;}
.pl_in_das{width:450px;height:450px;vertical-align:top;margin-top:1px;display:inline-block;}
.pl_in_dat{width:450px;height:410px;position:relative;overflow-y:auto;}
.pl_in_dat:hover .pl-podv{display:block;}
.tabl_pl{width:150px;heoght:auto;margin:auto;margin-top:20px;text-align:center;}
.t_img_pl img{width:150px;height:150px;border-radius:90px;border:3px solid #000;}

/* ======= UPLOAD ================== */
#tra_kj input[type="file"]{display:none;}
#Mygenre, #Myalbum{display:none;}
#t_album, #t_genr{height:27px;width:170px;}
#spi_of{color:#000;font-weight:800;}

.m_forma, .h_forma{
background-color:rgba(255, 255, 255, 0.9);
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
overflow:hidden;
box-sizing:border-box;
z-index:2000;
}
.spa_vv{
width:200px;
color:#ffffff;
padding:8px 10px;
display:inline-block;
position:relative;
margin:0;
border:#484848 solid 1px;
border-radius:3px;
background-color:#000;
cursor:pointer;
font-size:12px;
white-space:nowrap;
text-align:center;
vertical-align:baseline;
box-sizing:border-box;
}
.u_ma{width:1000px;margin:auto;padding-top:100px;min-height:400px;padding-bottom:100px;}
.u_mpod{width:800px;margin:auto;height:400px;box-shadow:0 0 3px #c1c1c1;padding:5px;color:#828282;}
.u_ti{width:260px;margin:auto;font-size:20px;margin-top:120px;}
.up_db{width:200px;margin:auto;margin-top:40px;}
.u_ar{margin:auto;width:350px;padding-top:20px;}
.u_podlv{font-size:11px;text-transform:none;width:500px;margin:auto;margin-top:120px;}
.t_menr{width:235px;padding:5px;border-radius:3px;border:1px solid #ccc;}
.prtik-ti{height:9px;background:linear-gradient(90deg, rgba(244,151,217,1) 10%, rgba(204,204,204,1) 0%);margin-top:50px;}

/* ============= BLOG =============== */

